

# Environment Management
python-dotenv==1.0.1

# LangChain Core - Compatible versions
langchain-core
langchain==0.3.7
langchain-community
langchain-groq


pydantic==2.10.3
pydantic-core==2.27.1
tiktoken==0.8.0
numpy==1.26.4
requests==2.32.3
typing-extensions==4.12.2

chainlit==1.14.0

beautifulsoup4==4.14.2
tavily-python==0.7.12 

